* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Nav bar */
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    padding-left: 2em;
}

.custom-nav {
    padding-left: 5em;
}

.custom-nav .custom-nav-item a {
    color: #fff;
}

.custom-nav-item:hover {
    background-color: #8cbdb8;
    /* background-color: #008080 ; */
    border: solid #8cbdb8 1px;
    border-radius: 10px;
}

/*  Video */
.remove-vid-marg {
    margin: 0;
    padding: 0;
}

.vid-parent {
    position: relative;

}

.vid-parent video {
    width: 100%;
    height: 100vh;
    object-fit: fill;
}

.vid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #77848b;
    z-index: 1;
    opacity: 0.5;
}

.vid-content {
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 35%;
    text-align: center;

}

.my-content {
    font-weight: 600;
}

.vid-btn {
    margin-top: 20px;
}

.vid-btn:hover {
    background-color: #8cbdb8;
}

/* Text Banner */

.txt-banner {
    background-color: #008080;
    margin: 0px;
    padding-top: 5px;
}

.bottom-banner {
    color: #fff;
    padding: 10px;
}

.txt-icon {
    margin-right: 10px;
}

/* Popular Course */
.font-weight-bolder {
    font-weight: bolder;
}

.all-course-btn {
    padding: 10px;
    font-size: 15px;

}

.all-course-btn:hover {
    background-color: #8cbdb8;
    /* background-color: #008080 ; */
    border: solid #8cbdb8 1px;
    border-radius: 10px;
    color: black;
}

/* Contact Us section */

.stripe {
    background-image: linear-gradient(240deg, #008080, black);
    padding: 3rem;
    height: 13rem;
    margin-top: 4rem;
    transform: rotate(10deg);
    z-index: -5;
}

/* Testimonial Section */
figure.snip1157 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    color: #333;
    text-align: left;
    box-shadow: none !important;
}

figure.snip1157 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

figure.snip1157 img {
    max-width: 100%;
    vertical-align: middle;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 40px 0 0 10px;
}

figure.snip1157 blockquote {
    display: block;
    border-radius: 8px;
    position: relative;
    background-color: #0f0f0f;
    padding: 25px 50px 30px 50px;
    font-size: 0.8em;
    font-weight: 500;
    margin: 0;
    line-height: 1.6em;
    font-style: italic;
    color: white;
}

figure.snip1157 blockquote:before,
figure.snip1157 blockquote:after {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
}

figure.snip1157 blockquote:before {
    top: 25px;
    left: 20px;
}

figure.snip1157 blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 0;
}

figure.snip1157 .arrow {
    top: 100%;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #0f0f0f;
    margin: 0;
    position: absolute;
}

figure.snip1157 .author {
    position: absolute;
    bottom: 45px;
    padding: 0 10px 0 120px;
    margin: 0;
    text-transform: uppercase;
    color: #0e0d0d;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

figure.snip1157 .author h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
}

figure.snip1157 .author h5 span {
    font-weight: 400;
    text-transform: none;
    padding-left: 5px;
}


/* Demo purposes only */

.testimonial {
    /* background-color: #212121; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin: 0;
    height: 30%;
}

/* Social Section */

.social-hover {
    text-decoration: none;
}

a .social-hover:hover {
    padding: 5px 100px;
    background-color: black;
}

.social-icon {
    margin-right: 10px;
}

/* Footer */
.cat {
    text-decoration: none;
    /* color: white; */
}

/* Custom */
.primary-btn {
    background-color: #008080;
    color: #fff;
}

.text-center {
    text-align: center;
}



/* ***************Contact Detail page********************** */
#course-detail {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0px;
    box-sizing: border-box;

}





/* Media Query */

@media screen and (min-width:0px) and (max-width:700px) {

    .my-content,
    .txt-banner,
    .stripe {
        display: none;
    }

    .vid-content {
        top: 12%;
        left: 60%;
    }

    .custom-nav .custom-nav-item a {
        padding: 10px 20px;
        background-color: #008080;
    }

    .custom-nav-item:hover {
        background-color: none;
        border: none;
        border-radius: none;
    }

}